@media screen and (max-width: 650px) {
    body {
        font-size: 8px;
        padding: 0;
        margin: 0;
        display: inline-block;
        overflow-x: hidden;
        max-width: max-content;
      }
    
      .Home {
        min-width: 500px;
        height: 30vh;
        margin: 0;
      }

      header {
        padding: 20px 20px;
        max-height: 30px;
        font-size: 3px;
        max-width: 450px;
        align-items: center;
        justify-content: center;
      }
    
      .logo,
      .navigation a,
      .navigation .loginbtn{
        font-size: 8px;    
      }
      
      .navigation .loginbtn {
          width: 70px;
          height: 20px;
          border: 0.5px solid black;
      }
      
      .head {
        max-height: 0vh;
        padding: 5rem;
        margin-left: -7rem;
        display: grid;
        align-items: center;
        justify-content: center;
      }
    
      .head h3 {
        font-size: 0.7rem;
      }

      .head p {
        font-size: 0.5rem;
      }
    
      .get-started-btn {
        padding: 5px 5px;
        font-size: 0.6rem;
      }

      .box {
        min-width: 300px;
        align-items: center;
        justify-content: center;
        margin-left: 5rem;
      }

      .speciality h1 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
        display: flex;
      }

      .box-container {
        margin-top: 0;
        padding-top: 2rem;
      }

      .speciality {
        display: block;
      }
    }

    @media screen and (max-width: 1200px) {
      body {
        overflow-x: hidden;
      }

      #hamburger-nav {
        display: flex;
      }

      header {
        display: none;
    }

    .footerContent {
      flex-direction: column;
      align-items: center;
      min-width: 900px;
    }
  
    .social-links a {
      margin: 10px;
    }
  
    .footerContent .copyright{
        font-size: 30px;
    }
  
    .social-links a {
      margin: 10px;
    }
  
    .footerContent .copyright{
        font-size: 50px;
    }
    }